@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&family=Ubuntu&display=swap');

body{margin:0;
    padding: 0;
overflow-x: hidden;
font-size : 1.1em;
    font-family: 'Ubuntu';

}
h1{
    font-family: 'Rubik';
}
.navBar{
    background-color: yellow;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-right: 2vw;
    padding-left: 2vw;
}
.menu{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;}

.menu>a{
    display: none;
    color: black}

.ouvert{
    height: 20vh;
}
.ouvert>a{display: block;}



.burger{
    width: 50px;
    height: 50px;
    border : 4px black solid;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;

}
.steak {
    border: 4px black solid;
    width: 80%;
    border-radius: 4%;

}
.liens{
    display: none;
}
.image {
    width: 100%;
    height: 17vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.img1{
    background-image: url("image/raclette1.png");
}
.img2{
    background-image: url("image/raclette2.png");
}
.img3{
    background-image: url("image/raclette3.png");
}

.raclette{
    border-radius: 4%;
    border: yellow 4px solid;
    width: 90%;
    margin: 10px;
    padding: 15px;
}
.raclettes {

    display: flex;
    flex-direction: column;
    align-items: center;

}
.card-img-top{
    height: 200px;
}
.carte{
    width: 20%;
}

@media only screen and (min-width: 768px){


    .raclettes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .raclette{
        border-radius: 4%;
        border: yellow 4px solid;
        width: 20%;
        margin: 10px;
        padding: 15px;
    }
    .burger{
        display: none;
    }
    .lien{
        text-decoration : none;
        text-transform: uppercase;
        color: saddlebrown;
    }
    .liens{
        display: block;
    }

    .image{
        width: 100%;
    }
    .carte{ width: 90%}

}
